In [3]:
import pandas as pd
import numpy as np

In [5]:
pd.Series([1,2,3,4,'ali',0,np.nan,-100])

0       1
1       2
2       3
3       4
4     ali
5       0
6     NaN
7    -100
dtype: object

In [13]:
date = pd.date_range("20230116",periods=3)
date

DatetimeIndex(['2023-01-16', '2023-01-17', '2023-01-18'], dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(3,3),index=date, columns=['A','B','C'])
df

                   A         B         C
2023-01-16 -0.483669  0.306300  1.337455
2023-01-17 -1.620424  0.202045  0.487239
2023-01-18  0.767295  1.501199 -0.002815

In [28]:
df = df.astype('int')
df.dtypes
df

            A  B  C
2023-01-16  0  0  1
2023-01-17 -1  0  0
2023-01-18  0  1  0